.cards{
    border: solid 3px grey;
    border-radius: 20px;
    height: 420px;
    width: 400px;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 10px 5px gray;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.cards:hover{
    box-shadow: 10px 5px 10px 5px gray;
}
.img_card{
    border-radius:10px 10px 0px 0px;
    height: 200px;
    width: 100%;
}
.btn{
    background-color: #99c2ff;
    border: solid 3px #0066ff;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    height: 50px;
    width: 100px;
}
h1{
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
}